* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url("images/hexellence/hexellence.png");
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.item1 {
	background-color: lightgrey;
	width: 100%;
	height: 60px;
	display: flex;
	overflow: hidden;
}
#list {
	margin-right: 70px;
	padding: 20px;
	word-spacing: 10px;
}

a {
	text-decoration: none;
	color: black;
}

#title {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bolder;
	float: left;
	text-align: center;
	padding: 15px;
	background-color: gray;
	/* padding-top: 12px; */
	margin-left: 260px;
	clear: both;
}

img {
	width: 200px;
	height: auto;
	float: left;
	border-radius: 8px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.headcontainer {
	margin: auto;
	width: 960px;
	overflow: hidden;
	justify-content: space-between;
}
.container {
	background-color: #fff;
	width: 960px;
	height: auto;
	margin-left: 302px;
	margin-top: 45px;
	margin-right: 1262px;
	margin-bottom: 176px;
	overflow: hidden;
}
.heading {
	font-size: 30px;
	font-weight: bold;
	margin: 20px 10px 20px 25px;
}
p {
	flex-wrap: wrap;
	margin-top: 20px;
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 1.6;
}

#line3 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}
/* end of About page */

.formContainer {
	margin: 20px;
	line-height: 1.5;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}
input[type=text]:focus {
	background-color: lightgrey;
}
textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}
input[type=submit] {
	background-color: cornflowerblue;
	border: none;
	color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
/* End of Contact page */
.flex-container {
	width: 700px;
	display: flex;
	/* flex-direction: column; */
	flex-flow: wrap;
	margin: 10px;
	padding: 10px;
	position: relative;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: lightgrey;
	/* opacity: 0.5; */
	text-align: center;
	font-size: 10px;
}
/* Media Query */
@media only screen and (max-width: 640px) {
	.item1 {
		height: auto;
	}
	.headcontainer {
		position: static;
		text-align: center;
		float: left;
	}
	#title {
		font-size: 20px;
		margin-left: 100px;
		margin-bottom: 40px;
		width: 100%;
	}
	#list {
		font-size: 15px;
		text-align: center;
		margin-right: 50px;
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 980px) {
}
